@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed ;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

ProseMirror {
  min-height: 150px;
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
}

/* Add this to your global CSS */
.search-transition {
  transition: all 0.3s ease-in-out;
}

.search-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.search-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.search-exit {
  opacity: 1;
}

.search-exit-active {
  opacity: 0;
  transform: translateY(-10px);
}

/* Add these styles to your globals.css */
.react-datepicker {
  @apply bg-gray-800 border-gray-700 !important;
}

.react-datepicker__header {
  @apply bg-gray-800 border-gray-700 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  @apply text-white !important;
}

.react-datepicker__day:hover {
  @apply bg-blue-600 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  @apply bg-blue-500 !important;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-500 !important;
}

.react-datepicker__navigation-icon::before {
  @apply border-white !important;
}

.react-datepicker__day--outside-month {
  @apply text-gray-500 !important;
}
